
table{
    background-color: var(--cor-transparencia);
    width: 60vw;
    margin: 40px;
    padding: 40px;
    border-radius: 10px;
}

tr{
    font-weight: bolder;
}

td{
    padding: 5px;
    font-weight: 300;
    text-align: center;
}

.invisivel {
	display: none;
}
